<article class="gradial-pane gradial-width-sm">
        <div class="gradial-pane-head">
            <h3 class="gradial-pane-title gradial-fontsize-md gradial-fontsize-bold">Pane title</h3>
        </div>
        <div class="gradial-pane-content">
            <ul class="gradial-list">
                <div class="gradial-list-head">
                    <div class="gradial-list-title gradial-fontsize-sm">Links list</div>
                </div>
                <li class="gradial-list-item"><a href="#" class="gradial-list-link">link 1</a></li>
                <li class="gradial-list-item"><a href="#" class="gradial-list-link">link 2</a></li>
                <li class="gradial-list-item"><a href="#" class="gradial-list-link">link 3</a></li>
                <li class="gradial-list-item"><a href="#" class="gradial-list-link gradial-list-link--mark">link 4 - active</a></li>
            </ul>
        </div>
        <div class="gradial-pane-footer"></div>
    </article>