<article class="gradial-pane gradial-width-sm">
    <div class="gradial-pane-head">
        <h3 class="gradial-pane-title gradial-fontsize-md gradial-fontsize-bold">Pane title</h3>
    </div>
    <div class="gradial-pane-content">
        <ul class="gradial-list">
            <div class="gradial-list-head">
                <div class="gradial-list-title gradial-fontsize-sm">List title</div>
            </div>
            <li class="gradial-list-item">item 1</li>
            <li class="gradial-list-item">item 2</li>
            <li class="gradial-list-item">item 3</li>
        </ul>
    </div>
    <div class="gradial-pane-footer"></div>
</article>